.b-footer {
  z-index: $z-index-1;
  padding-top: 10rem;
  text-align: center;

  @include md {
    scroll-snap-align: start;
  }

  .footer-copyright {
    position: relative;
    background-color: $color-primary;
    padding: 1rem 0 2rem;
  }

  .footer-content {
    max-width: $content-width;
  }

  .footer-line {
    &.b-jk-line {
      height: auto;
      bottom: 4rem;
    }
  }
}
