.b-headline {
    font-weight: $font-weight-medium;
    margin: 0;

    &.is-main-title {
        font-size: 3rem;
        line-height: 1;

        @include md {
            font-size: 3.5rem;
        }
    }

    &.is-inverted {
        color: $color-negative;
    }
}