// Spacing
$page-padding: 5rem;
$page-padding-sm: 2rem;
$page-padding-md: 3rem;
$content-width: 114rem;
$text-block-width: 60rem;
$content-x-padding: 1rem;
$project-padding: .5rem;

// Font
$font-size: 2rem;
$font-size-sm: 1.6rem;
$font-size-xs: 1.4rem;
$font-size-h1: 3.2rem;
$font-size-h1-sm: 3rem;
$font-size-h2: 3rem;
$font-size-h2-sm: 2.8rem;
$font-size-h3: 2.6rem;
$font-size-h3-sm: 2.2rem;
$font-size-link: 2.2rem;
$font-size-link-sm: 1.8rem;
$font-size-big: 2.4rem;
$font-size-small: 1.4rem;
$font-size-x-small: 1.2rem;


$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

$font-family-primary: 'Averia Libre', sans-serif;
$font-family-secondary: 'Maven Pro', sans-serif;


// Z-index
$z-index-basement: -1;
$z-index-ground: 0;
$z-index-1: 1;
$z-index-2: 2;
$z-index-10: 10;
$z-index-20: 20;